<h1>New Sub-Task for <%= @task.title %></h1>

<%= form_with(model: [@weekly_plan, @task, @sub_task], local: true) do |form| %>
  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, class: "form-control" %>
  </div>

  <%= form.submit "Create Sub-Task", class: "btn btn-primary" %>
<% end %>

<%= link_to "Back to Weekly Plan", weekly_plan_path(@task.weekly_plan), class: "btn btn-link" %>